.background {
    background-image: url('./assets/mormorsBG.jpg'); /* Ensure the path is correct */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed background image */
    min-height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
  }

.leckerli-one-regular {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
  }  

h1 {
    /*font-family: "Gloock", serif;*/
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}